<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>getting-started</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="root">
    <div>{{message}} <button v-on:click="reverse">翻转</button></div>
    <div><input type="text" v-model="username"> {{username}}</div>
    <ul>
      <li v-for="p in products">
        {{p.name}} {{p.price}} x
        <input type="number" v-model.number="p.quantity" v-bind:max="p.inventory">
        <span v-if="p.quantity === p.inventory">售罄了</span>
      </li>
    </ul>
    <div>
      总价：{{total}}
    </div>
    <div>{{title}}</div>
    <gp12></gp12>
    <gp12></gp12>
    <gp12></gp12>
    <gp12></gp12>
    <gp12></gp12>
  </div>
  <script src="app.js"></script>
</body>
</html>