<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-for</title>
</head>
<body>
  <div id="root">
    <!-- <div>
      <ul>
        <li v-for="item, index in tabs">
          <p v-for="value in 10">
            {{item.title}} / {{value}}
          </p>
        </li>
      </ul>
    </div>
    -->
    <!-- <div>
      <ul>
        <li v-for="value, key, index of movies">
          {{index}} / {{key}} / {{value}}
        </li>
      </ul>
    </div> -->
    <!-- <div>
      <ul>
        <li v-for="v in tabs">
          {{v.title}}
        </li>
      </ul>
    </div> -->
    <!-- <div>
      <button @click="handleClick">click</button>
    </div> -->
    <ul>
      <li v-for="value in filterTabs">
        {{value.title}}
      </li>
    </ul>
  </div>
  <script src="../vue.js"></script>
  <script src="./app.js"></script>
</body>
</html>